<footer class="bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-between">
        <span class="text-muted">&copy; Hospitalo 2021. All Rights Reserved.</span>
        <span class="text-muted">Made by Saumya and Anshuman.</span>
    </div>
</footer>