* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
  background: url(/img/background.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
	background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

#about {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: poppins;
	margin: 10% auto;
}

#textlorem{
	align-items: center;
  font-weight: 500;
  color: #adb5bd;
  line-height: 2;
}

#first{
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}

#about h2 span {
	color: #16B1B4;
}




.btn-grad {background-image: linear-gradient(to right, #06beb6 0%, #48b1bf  51%, #06beb6  100%)}
.btn-grad {
	margin: auto;
	padding: 10px 10px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 20px;
	display: block;
	width: 25%;
	text-decoration: none;
}

.btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
						text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

.navbar {
	position: fixed;
	width: 100%;
}

#textlorem{
  font-weight: 600;
  color: #adb5bd;
  line-height: 2;
}

header {
	height: 90px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.contact-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 90px;
}

.contact-info{
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;

}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: #0582E3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form .send-btn:hover{
  background: #0582E3;
}

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

  .contact-form .text-box{
    width: 100%;
  }
}



#status {
  width: 50%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(237, 78, 66);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
